In [35]:
using CSV
using DataFrames

df = CSV.read("uwcourses.csv", DataFrame)

list_courses = []
for col in eachcol(df)
    for course in col
        if ismissing(course) == true
            continue
        end
        
        push!(list_courses, course)
    end
end
courses = collect(Set(list_courses)) 

println(df)

91×3 DataFrame
 Row │ computer-science       data-science            economics
     │ String31               String31?               String?
─────┼──────────────────────────────────────────────────────────────────────────────────
   1 │ CS/MATH 240            MATH 221                MATH 221
   2 │ CS/ECE 252             MATH 222                MATH 171
   3 │ CS 300                 STAT 240                MATH 217
   4 │ CS/ECE 354             STAT 340                MATH 211
   5 │ CS 400                 CS 220                  MATH 213
   6 │ MATH 221               CS 300                  MATH 211
   7 │ MATH 222               CS 320                  ECON 205
   8 │ MATH 171               LIS 461                 ECON 310
   9 │ MATH 217               MATH 217                ECON 400
  10 │ MATH 222               ECE/ISYE 570            ECON 410
  11 │ MATH 320               CS/ECE/ME 532           MATH/STAT 309
  12 │ MATH 340               CS/ECE/ME 539           MATH/STAT 431
  13 │ MATH 341               CS 540                  STAT 311
  14 │ MATH 375               GEN BUS 656             STAT 324
  15 │ STAT/MATH 309          ISYE 521                STAT 340
  16 │ STAT 311               MATH 535                ECON 101
  17 │ STAT 324               PHYSICS 361             ECON 102
  18 │ MATH 331               STAT 453                ECON 111
  19 │ STAT 333               CS 400                  ECON 301
  20 │ STAT 340               CS 412                  ECON 302
  21 │ STAT 371               CS/STAT 471             ECON 311
  22 │ STAT/MATH 431          CS/MATH 513             ECON 312
  23 │ MATH 531               CS/MATH 514             ECON 400
  24 │ CS 577                 CS/ECE/ISYE 524         ECON 409
  25 │ CS 520                 CS 544                  ECON 410
  26 │ CS 407                 CS 564                  ECON 435
  27 │ CS/ECE 506             CS 565                  ECON 441
  28 │ CS 536                 CS/BMI 576              ECON 442
  29 │ CS 538                 GEOG 573                ECON 448
  30 │ CS 537                 GEOG 574                ECON 450
  31 │ CS 542                 MATH 444                ECON 451
  32 │ CS 544                 ECON 400                ECON 455
  33 │ CS/ECE 552             ECON 410                ECON 458
  34 │ CS 564                 ECON 460                ECON 460
  35 │ CS 640                 GEOG 579                ECON 461
  36 │ CS 642                 ISYE 575                ECON 464
  37 │ CS 412                 STAT/MATH 309           ECON 467
  38 │ CS/ISYE/MATH 425       STAT 311                ECON 468
  39 │ CS/MATH 513            MATH/STAT 431           ECON 475
  40 │ CS/MATH 514            STAT/MATH 310           ECON/FINANCE 503
  41 │ CS/ECE/ISYE 524        STAT 312                ECON 521
  42 │ CS/ISYE/MATH/STAT 525  STAT 349                ECON 522
  43 │ CS 534                 STAT 351                ECON/RMI 530
  44 │ CS 540                 STAT 421                ECON/POPHLTH/PUBAFFR 548
  45 │ CS 541                 STAT/ME 424             ECON 570
  46 │ CS 559                 STAT 436                ECON 580
  47 │ CS 565                 STAT 443                ECON 621
  48 │ CS 566                 STAT 456                ECON 623
  49 │ CS 570                 STAT 461                ECON 661
  50 │ CS 571                 STAT 575                ECON 664
  51 │ CS 407                 MATH 531                ECON 666
  52 │ CS 412                 MATH/ISYE/OTM/STAT 632  ECON 690
  53 │ CS/ISYE/MATH 425       MATH 635                ECON 695
  54 │ CS/ECE/MATH 435        MATH 320                ECON/FINANCE 300
  55 │ CS/STAT 471            MATH 340                ECON/HIST SCI 305
  56 │ CS/MATH/STAT 475       MATH 341                ECON/AAE/REALEST/URBRPL 306
  57 │ CS/ECE 506             MATH 375                ECON 309
  58 │ CS/MATH 513            CS/ISYE/MATH 425        ECON 315
  59 │ CS/MATH 514            CS/ISYE/MATH/STAT 525   ECON/FINANCE 320
  60 │ CS/ISYE 518            CS/ECE 533              ECON 321
  61 │ CS 520                 CS 559                  ECON 330
  62 │ CS/ECE/ISYE 524        CS/BMI 567              ECON/AAE/ENVIRST 343
  63 │ CS/ISYE/MATH/STAT 525  CS 577                  ECON 355
  64 │ CS/ISYE 526            ECE 203                 ECON 370
  65 │ CS/ECE/ME 532          ECON 315                ECON/AAE 371
  66 │ CS/ECE 533             ECON 570                ECON 390
  67 │ CS 534                 ECON 695                ECON/REALEST/URBRPL 420
  68 │ CS 536                 GEOG 378                ECON/AAE 421
  69 │ CS 537                 GEOG 572                ECON/ENVIRSCI/POLISCI 449
  70 │ CS 538                 GEOG 575                ECON/\u200bAAE/\u200bINTLBUS  462
  71 │ CS/ECE/ME 539          ISYE 323                ECON 465
  72 │ CS 540                 ISYE 412                ECON/HISTORY 466
  73 │ CS 541                 ISYE/ME 512             ECON/AAE 473
  74 │ CS 542                 ISYE 612                ECON/AAE 474
  75 │ CS 544                 INFO SYS 322            ECON/AAE 477
  76 │ CS/ECE 552             LIS 407                 ECON/PHILOS 524
  77 │ CS/ISYE/ME 558         LIS 440                 ECON/AAE 526
  78 │ CS 559                 LIS 464                 ECON/\u200bAAE/\u200bF&WECOL  531
  79 │ CS/ECE 561             LIS 501                 ECON/SOC 663
  80 │ CS 564                 LSC 460                 ECON/\u200bAAE/\u200bENVIRST/\u2…
  81 │ CS 565                 LSC 660                 missing
  82 │ CS 566                 MATH 331                missing
  83 │ CS/BMI 576             SOC 351                 missing
  84 │ CS 577                 SOC/C&ESOC 618          missing
  85 │ CS 579                 SOC/C&ESOC 693          missing
  86 │ CS 620                 SOIL SCI 585            missing
  87 │ CS/ISYE 635            STAT 405                missing
  88 │ CS 640                 STAT 433                missing
  89 │ CS 642                 STAT 451                missing
  90 │ CS 639                 missing                 missing
  91 │ CS 200                 missing                 missing

In [32]:
using CSV
using DataFrames

# Load the CSV file into a DataFrame
courses_df = CSV.read("uwcourses.csv", DataFrame)

# Convert all columns to a uniform type of Vector{String} to ensure compatibility
for col in names(courses_df)
    courses_df[!, col] = convert(Vector{String}, string.(courses_df[!, col]))
end

# Define a function to clean the input and extract the numerical part of the course name
function extract_course_number(course_name)
    if typeof(course_name) == String
        # Clean up the input by trimming whitespace
        cleaned_course_name = strip(course_name)
        # Match the first number in the string
        match_obj = match(r"\d+", cleaned_course_name)
        return match_obj !== nothing ? parse(Int, match_obj.match) : missing
    else
        return missing
    end
end

# Create a new DataFrame to store the extracted course numbers
course_numbers_df = DataFrame()

# Iterate over each column and extract the course numbers
for col in names(courses_df)
    # Extract course numbers for each value in the current column
    extracted_numbers = [extract_course_number(course_name) for course_name in courses_df[!, col]]
    # Add the extracted numbers as a new column in the new DataFrame
    course_numbers_df[!, col] = extracted_numbers
end

println(course_numbers_df)

91×3 DataFrame
 Row │ computer-science  data-science  economics
     │ Int64             Int64?        Int64?
─────┼───────────────────────────────────────────
   1 │              240           221        221
   2 │              252           222        171
   3 │              300           240        217
   4 │              354           340        211
   5 │              400           220        213
   6 │              221           300        211
   7 │              222           320        205
   8 │              171           461        310
   9 │              217           217        400
  10 │              222           570        410
  11 │              320           532        309
  12 │              340           539        431
  13 │              341           540        311
  14 │              375           656        324
  15 │              309           521        340
  16 │              311           535        101
  17 │              324           361        102
  18 │              331           453        111
  19 │              333           400        301
  20 │              340           412        302
  21 │              371           471        311
  22 │              431           513        312
  23 │              531           514        400
  24 │              577           524        409
  25 │              520           544        410
  26 │              407           564        435
  27 │              506           565        441
  28 │              536           576        442
  29 │              538           573        448
  30 │              537           574        450
  31 │              542           444        451
  32 │              544           400        455
  33 │              552           410        458
  34 │              564           460        460
  35 │              640           579        461
  36 │              642           575        464
  37 │              412           309        467
  38 │              425           311        468
  39 │              513           431        475
  40 │              514           310        503
  41 │              524           312        521
  42 │              525           349        522
  43 │              534           351        530
  44 │              540           421        548
  45 │              541           424        570
  46 │              559           436        580
  47 │              565           443        621
  48 │              566           456        623
  49 │              570           461        661
  50 │              571           575        664
  51 │              407           531        666
  52 │              412           632        690
  53 │              425           635        695
  54 │              435           320        300
  55 │              471           340        305
  56 │              475           341        306
  57 │              506           375        309
  58 │              513           425        315
  59 │              514           525        320
  60 │              518           533        321
  61 │              520           559        330
  62 │              524           567        343
  63 │              525           577        355
  64 │              526           203        370
  65 │              532           315        371
  66 │              533           570        390
  67 │              534           695        420
  68 │              536           378        421
  69 │              537           572        449
  70 │              538           575        462
  71 │              539           323        465
  72 │              540           412        466
  73 │              541           512        473
  74 │              542           612        474
  75 │              544           322        477
  76 │              552           407        524
  77 │              558           440        526
  78 │              559           464        531
  79 │              561           501        663
  80 │              564           460        671
  81 │              565           660    missing
  82 │              566           331    missing
  83 │              576           351    missing
  84 │              577           618    missing
  85 │              579           693    missing
  86 │              620           585    missing
  87 │              635           405    missing
  88 │              640           433    missing
  89 │              642           451    missing
  90 │              639       missing    missing
  91 │              200       missing    missing

In [37]:
using JuMP, GLPK

# Define the model with the GLPK solver
model = Model(GLPK.Optimizer)

# Create a binary variable for each course
@variable(model, course_taken[courses], Bin)

@constraint(model, course_taken["CS 200"] + course_taken["CS/MATH 240"] + course_taken["CS/ECE 252"] + course_taken["CS 300"] + course_taken["CS/ECE 354"] + course_taken["CS 400"] >= 6)

@constraint(model, course_taken["MATH 221"] + course_taken["MATH 222"] >= 2)

@constraint(model, course_taken["MATH 320"] + course_taken["MATH 340"] + course_taken["MATH 341"] + course_taken["MATH 375"] >= 1)

@constraint(model, course_taken["STAT/MATH 309"] + course_taken["STAT 311"] + course_taken["STAT 324"] + course_taken["STAT 333"] + course_taken["STAT 340"] + course_taken["STAT 371"] + course_taken["MATH/STAT 431"] + course_taken["MATH 531"] >= 1)

@constraint(model, course_taken["MATH 221"] + course_taken["MATH 217"] + course_taken["MATH 222"] >= 3)

@constraint(model, course_taken["STAT 240"] + course_taken["STAT 340"] + course_taken["CS 220"] + course_taken["CS 300"] + course_taken["CS 320"] >= 5)

@constraint(model, course_taken["CS 400"] + course_taken["CS 412"] + course_taken["CS/STAT 471"] + course_taken["CS/MATH 513"] + course_taken["CS/MATH 514"] + course_taken["CS/ECE/ISYE 524"] + course_taken["CS 544"] + course_taken["CS 564"] + course_taken["CS 565"] + course_taken["CS/BMI 576"] >= 1)

@constraint(model, course_taken["CS/ECE/ME 532"] + course_taken["CS/ECE/ME 539"] + course_taken["CS 540"] + course_taken["GEN BUS 656"] + course_taken["ISYE 521"] + course_taken["MATH 535"] + course_taken["PHYSICS 361"] + course_taken["STAT 451"] + course_taken["STAT 453"] >= 1)

@constraint(model, course_taken["MATH 221"] + course_taken["MATH 171"] + course_taken["MATH 217"] + course_taken["MATH 211"] + course_taken["MATH 213"] + course_taken["ECON 205"] >= 2)

@constraint(model, course_taken["ECON 310"] + course_taken["ECON 400"] + course_taken["ECON 410"] + course_taken["MATH/STAT 309"] + course_taken["STAT 311"] + course_taken["STAT 324"] + course_taken["STAT 340"] >= 1)

@constraint(model, course_taken["ECON 101"] + course_taken["ECON 102"] + course_taken["ECON 111"] >= 2)

@constraint(model, course_taken["ECON 301"] + course_taken["ECON 302"] + course_taken["ECON 311"] + course_taken["ECON 312"] >= 2)

# Objective: Minimize the total number of courses
@objective(model, Min, sum(course_taken))

# Solve the optimization problem
optimize!(model)

# Check if a solution was found
if termination_status(model) == MOI.OPTIMAL
    println("Optimal solution found. Courses to enroll:")
    for course in courses
        if value(course_taken[course]) > 0.5
            println(course)
        end
    end
else
    println("No optimal solution found.")
end

Optimal solution found. Courses to enroll:
CS/ECE/ME 539
ECON 301
ECON 102
ECON 311
STAT 240
MATH 222
ECON 111
CS 200
CS 400
MATH 320
CS 220
CS/MATH 240
CS 320
CS 300
CS/ECE 252
MATH 221
STAT 340
CS/ECE 354
MATH 217